<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MSME Credit Access - Login</title>
    <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

</head>
<body>
    <div class="login-container">
        <h2>Login to MSME Credit Access Platform</h2>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/register">Register Here</a></p>
        </form>
    </div>
</body>
</html>
